# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Config and environment files
*.env
*.DS_Store

# Logs
*.log
*.out
*.err

# Compiled Python files
*.pyo

# PyTorch and TensorFlow model weights
*.pt
*.pth
*.h5

# System files
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.~lock.*
